// CSS Reset, Box Sizing and Defaults

html {
  box-sizing: border-box;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: $purple-500;
  color: $white;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-color: $white;
  color: $gray-900;
  font-family: "Inter", "sans-serif";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: $gray-900;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}


svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: $transition;
  cursor: pointer;
  font-weight: 500;
  color: $purple-700;
  transition: $transition;

  &:hover,
  &:focus {
    color: $purple-500;
    text-decoration: none;
  }
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Text Mixins

@mixin text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

@mixin text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@mixin text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@mixin text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@mixin text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

@mixin text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}


// Utilities

.display-none {
  display: none;
}

.opacity-none {
  opacity: 0.0;
}

.visibility-hidden {
  visibility: hidden;
}

.button-after-form {
  margin-top: 0.75rem;
}
// Components

// Buttons

.button-primary {
  display: infline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-color: transparent;
  @include text-sm;
  font-weight: 500;
  color: $white;
  background-color: $purple-600;
  border: 2px solid $purple-600;
  border-radius: 0.375rem;
  box-shadow: $shadow-sm;
  transition: $transition;

  &:hover {
    color: $white;
    transform: scale(1.05);
    background-color: $purple-700;
    border: 2px solid $purple-700;
  }
}

.button-secondary {
  display: infline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-color: transparent;
  @include text-sm;
  font-weight: 500;
  color: $purple-700;
  background-color: $white;
  border: 2px solid $purple-600;
  border-radius: 0.375rem;
  box-shadow: $shadow-sm;
  transition: $transition;

  &:hover {
    transform: scale(1.05);
    background-color: $purple-50;
    border: 2px solid $purple-600;
    color: $white;
  }
}

.button-utility {
  display: infline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-color: transparent;
  @include text-sm;
  font-weight: 500;
  color: $gray-700;
  background-color: $white;
  border: 2px solid $gray-300;
  border-radius: 0.375rem;
  border-color: $gray-300;
  box-shadow: $shadow-sm;
  transition: $transition;

  &:hover {
    transform: scale(1.05);
    background-color: $gray-50;
  }
}

.first-button-row {
  margin-right: 1rem;
}
