// CSS Reset and Box Sizing

html {
  box-sizing: border-box;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: $purple-500;
  color: $white;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-color: $white;
  color: $gray-900;
  font-family: "Inter", "sans-serif";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: $gray-900;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}


svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: $transition;
  cursor: pointer;
  font-weight: 500;
  color: $purple-700;

  &:hover,
  &:focus {
    color: $purple-500;
    text-decoration: none;
  }
}























