// Specific CSS for your home-page
.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



// Header section

.home-page-header-section-container {
  padding-top: 2.5rem;
  background-color: $gray-900;
  width: 100%;
  min-height: calc(100vh - 40px);
  position: relative;

  @media (min-width: $break-sm) {
    padding-top: 4rem;
  }

  @media (min-width: $break-lg) {
    padding-top: 2rem;
    padding-bottom: 3.5rem;
    overflow: hidden;
    padding-right: 2rem;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}

.home-page-header-section-content-container {
  margin: auto;
  max-width: 28rem;
  padding: 0rem 4rem;

  @media (min-width: $break-sm) {
    max-width: 42rem;
    padding: 0rem 1.5rem;
    text-align: center;
  }

  @media (min-width: $break-lg) {
    padding: 6rem 0rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.home-page-header-section-header {
  color: white;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: -0.025em;
  font-weight: 800;
}

.home-page-header-section-header-highlight {
  display: block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(151deg,#818CF8,rgba(232,121,249,.88));
}

.home-page-header-section-paragraph {
  color: $gray-300;
  padding: 1rem 0rem;
  max-width: 28rem;
}

.home-page-header-section-button-container {
  display: flex;
  align-items: center;
}

.home-page-header-section-button {
  display: infline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-color: transparent;
  @include text-lg;
  font-weight: 500;
  color: $white;
  background-color: $purple-600;
  border: 2px solid $purple-600;
  border-radius: 0.375rem;
  box-shadow: $shadow-sm;
  transition: $transition;

  &:hover {
    transform: scale(1.1);
    background-color: $purple-700;
    border: 2px solid $purple-700;
    color: $white;
  }
}

.home-page-header-section-image-container {
  margin-top: 3rem;
  margin-bottom: 4rem;
  margin: auto;
  max-width: 28rem;
  padding: 0rem 1rem;
  max-height: 32rem;

  @media (min-width: $break-sm) {
    margin-bottom: 12rem;
    max-width: 42rem;
    padding: 0rem 1.5rem;
  }

  @media (min-width: $break-lg) {
    margin: 0rem;
    position: relative;
    max-width: none;
    padding: 0rem;
  }
}


.home-page-header-section-image {

}









// Demo section

.home-page-demo-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: $white;
  padding-top: 4rem;
  width: 100%;
}

.home-page-demo-section-supertext-container {

}

.home-page-demo-section-supertext {
  @include text-base;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: $purple-600;
  text-transform: uppercase;
}

.home-page-demo-section-header-container {

}

.home-page-demo-section-header {
  @include text-3xl;
  font-weight: 800;
  color: $gray-900;
  letter-spacing: -0.025em;
}

.home-page-demo-section-paragraph-container {

}

.home-page-demo-section-paragraph {
  margin-top: 1.25rem;
  max-width: 65ch;
  @include text-xl;
  color: $gray-500;
  text-align: center;
}


.home-page-demo-section-demo-container {
  margin-top: 2rem;
  background-color: $gray-200;
  width: 100%;
  height: 600px;
  width: 80vw;
  border-radius: 0.375rem;

}




// Features sections
.home-page-features-section-container {
  margin-top: 2rem;
}

.home-page-feature-section-container {

  @media (min-width: $break-lg) {
    margin-top: 6rem;
    margin: auto;
    max-width: 80rem;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: column dense;
    gap: 6rem;
  }
}

.home-page-feature-section-container-alt {

  @media (min-width: $break-lg) {
    margin: auto;
    max-width: 80rem;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: column dense;
    gap: 6rem;
  }
}

.home-page-feature-section-content-container {
  margin-top: 1.5rem;

  padding-right: 1rem;
  padding-left: 1rem;
  margin: auto;

  max-width: 36rem;

  @media (min-width: $break-sm) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  @media (min-width: $break-lg) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: none;
    margin-right: 0rem;
    margin-left: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.home-page-feature-section-content-container-alt {
  margin-top: 1.5rem;

  padding-right: 1rem;
  padding-left: 1rem;
  margin: auto;

  max-width: 36rem;

  @media (min-width: $break-sm) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  @media (min-width: $break-lg) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: none;
    margin-right: 0rem;
    margin-left: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
    grid-column-start: 2;
  }
  // px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2
}

.home-page-feature-section-image-container {
  margin-top: 3rem;
  padding-left: 1rem;
  background-color: $gray-300;

  @media (min-width: $break-sm) {
    margin-top: 4rem;
    padding-left: 1.5rem;
  }

  @media (min-width: $break-md) {
    margin-right: -4rem;
  }

  @media (min-width: $break-lg) {
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0rem;
    position: relative;
    height: 100%;
  }
}

.home-page-feature-section-image {
  width: 100%;
  border-radius: 0.75rem;

  @media (min-width: $break-lg) {
    position: absolute;
    left: 0px;
    height: 100%;
    width: auto;
    max-width: none;
  }
  // shadow-xl ring-1 ring-black ring-opacity-5
}

.home-page-feature-section-image-container-alt {
  padding-right: 1rem;
  background-color: $gray-300;

  @media (min-width: $break-sm) {
    margin-top: 4rem;
    padding-right: 1.5rem;
  }

  @media (min-width: $break-md) {
    margin-left: -4rem;
  }

  @media (min-width: $break-lg) {
    grid-column-start: 1;
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0rem;
    position: relative;
    height: 100%;
  }
}

.home-page-feature-section-image-alt {
  width: 100%;
  border-radius: 0.75rem;

  @media (min-width: $break-lg) {
    position: absolute;
    right: 0px;
    height: 100%;
    width: auto;
    max-width: none;
  }
  // shadow-xl ring-1 ring-black ring-opacity-5
}


.home-page-feature-section-supertext {
  @include text-base;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: $purple-600;
  text-transform: uppercase;
}

.home-page-feature-section-header {
  @include text-3xl;
  font-weight: 800;
  color: $gray-900;
  letter-spacing: -0.025em;
}

.home-page-feature-section-paragraph {
  margin-top: 1rem;
  @include text-lg;
  color: $gray-500;
}

.home-page-feature-section-button-container {
  margin-top: 1.5rem;
}











// Testimonial section

.home-page-testimonial-section-container {

  padding-bottom: 4rem;
  width: 100%;
  background-image: linear-gradient(90deg,#8B5CF6,#6D28D9
);


  @media (min-width: $break-lg) {
    padding-bottom: 0rem;
    z-index: 10;
    position: relative;
  }
}

.home-page-testimonial-section-grid {
  @media (min-width: $break-lg) {
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
  }
}

.home-page-testimonial-section-image-contents-container {
  position: relative;

  @media (min-width: $break-lg) {
    margin-top: -2rem;
    margin-bottom: -2rem;
  }
}

.home-page-testimonial-section-image-background {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 50%;
  background-color: $white;

  @media (min-width: $break-lg) {
    display: none;
  }
}

.home-page-testimonial-section-image-positioning-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 28rem;

  @media (min-width: $break-sm) {
    max-width: 48rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: $break-lg) {
    height: 100%;
  }
}

.home-page-testimonial-section-image-container {
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: $shadow-xl;
  overflow: none;
}


.home-page-testimonial-section-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.home-page-testimonial-section-contents-container-grid {
  margin-top: 3rem;
  @media (min-width: $break-lg) {
    margin: 0rem;
    grid-column: span 2 / span 2;
    padding-left: 2rem;
  }
}

.home-page-testimonial-section-contents-container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 28rem;

  @media (min-width: $break-sm) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 42rem;
  }

  @media (min-width: $break-lg) {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: none;
  }
}

.home-page-testimonial-section-blockquote {

}

.home-page-testimonial-section-blockquote-contents {

}

.home-page-testimonial-section-blockquote-quote-icon {
  height: 3rem;
  width: 3rem;
  color: $white;
  opacity: 0.25;
}

.home-page-testimonial-section-paragraph {
  margin-top: 1.5rem;
  @include text-2xl;
  color: $white;
  font-weight: 500;
  max-width: 46ch;

}

.home-page-testimonial-section-blockquote-footer {
  margin-top: 1.5rem;
}

.home-page-testimonial-section-blockquote-footer-text {
  @include text-base;
  color: white;
}

.home-page-testimonial-section-blockquote-footer-subtext {
  @include text-base;
  color: $purple-100;

}

























// Footer section

.home-page-footer-section-container {

}

// Waves

.home-page-header-section-waves-container {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px;
  min-height:100px;
  max-height:150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 15s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 20s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 25s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 35s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
