// Specific CSS for your home-page
.home-page-container {
  border: 1px solid red;
  min-height: calc(100vh - 40px);

}



// Header

.home-page-header-section-container {
  padding-top: 2.5rem;
  background-color: $gray-900;
  margin: auto;
  border: 1px solid orange;
  min-height: calc(100vh - 40px);
  position: relative;

  @media (min-width: $break-sm) {
    padding-top: 4rem;
  }

  @media (min-width: $break-lg) {
    padding-top: 2rem;
    padding-bottom: 3.5rem;
    overflow: hidden;
    padding-right: 2rem;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}

.home-page-header-section-content-container {
  margin: auto;
  max-width: 28rem;
  padding: 0rem 4rem;
  border: 1px solid yellow;

  @media (min-width: $break-sm) {
    max-width: 42rem;
    padding: 0rem 1.5rem;
    text-align: center;
  }

  @media (min-width: $break-lg) {
    padding: 6rem 0rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.home-page-header-section-header {
  color: white;
  @include text-4xl;
  letter-spacing: -0.025em;
  font-weight: 800;
}

.home-page-header-section-header-highlight {
  display: block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #1bbcfe;
  background-image: linear-gradient(151deg,#818CF8,rgba(232,121,249,.88));
}

.home-page-header-section-paragraph {
  color: $gray-300;
  margin-top: 1.5rem;
  max-width: 28rem;
}

.home-page-header-section-image-container {
  margin-top: 3rem;
  margin-bottom: 4rem;
  margin: auto;
  max-width: 28rem;
  padding: 0rem 1rem;

  @media (min-width: $break-sm) {
    margin-bottom: 12rem;
    max-width: 42rem;
    padding: 0rem 1.5rem;
  }

  @media (min-width: $break-lg) {
    margin: 0rem;
    position: relative;
    max-width: none;
    padding: 0rem;
  }
 border: 1px solid cyan;
}


.home-page-header-section-image {

}


// Demo

.home-page-demo-section-container {

}

.home-page-demo-section-demo {

}

// Features

.home-page-feature-section-container {

}

.home-page-feature-section-container {

}

// Testimonial

.home-page-testimonial-section-container {

}

// Footer

.home-page-footer-section-container {

}

.home-page-header-section-waves-container {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 15s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 20s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 25s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 35s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
