.show-page-container {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 40px);
  width: 100vw;
  overflow-y: none;
  border: 1px solid pink;
}

.show-page-sidebar-wrapper {
  height: calc(100vh - 40px);
}

.show-page-content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding: 1rem 2rem;
  overflow-x: auto;

}

.show-page-header {
  @include text-2xl;
}

.show-page-section-border {
  margin: 1rem 0rem;
  border-top: 1px solid $gray-200;
}




// Filters Partial

.show-page-filters-container {
  border: 1px solid blue;
}

.show-page-filters-menu-container {
  display: flex;
}

.show-page-filters-buttons-container {
  display: flex;
  align-items: center;
    margin-left: auto;
}

.show-page-filters-tabs-container {
  border-bottom: 1px solid $gray-200;
  border: 3px solid yellow;
}

.show-page-filters-tab-container {
  background-color: white;
  border: 1px solid green;
}

.show-page-filters-tab-link {

}

.show-page-filters-tab-content-container {
  height: 100%;
  width: 100%;
  border: 1px solid cyan;
}

.show-page-filters-tab-pane {
  padding: 0rem 1rem;
  border: 1px solid orange;
  overflow: scroll;
  height: 200;
}

.show-page-filters-sql-container {
  border-radius: 0.375rem;
  padding: 1rem 1rem 0.25rem;
  background-color: $gray-800;
  overflow: none;
}

.show-page-sql-query {
  color: white;
  @include text-sm;
  font-weight: 500;
  font-family: "Courier New";
  color: $purple-100;
}




// Views Partial


.show-page-views-container {

  padding: 1rem 0rem;
  border: 1px solid blue;
}

.show-page-views-tabs-container {
  border-bottom: 1px solid $gray-200;
  border: 1px solid chartreuse;
}

.show-page-views-tab-container {
  background-color: white;
}

.show-page-views-tab-link {

}

.show-page-views-tab-content-container {
  height: 100%;
  width: 100%;
  border: 1px solid cyan;
}

.show-page-views-tab-pane {
  padding: 0rem 1rem;
  border: 1px solid orange;
  overflow: scroll;
  height: 600px;
}


// Table View

.show-page-table-wrapper {
  border: 1px solid purple;
  overflow-x: auto;
}

.show-page-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  border-radius: 0.375rem;
  border: 1px solid hotpink;
}

.show-page-table {
  display: table;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $gray-200;
}

.show-page-table-header-section {
  background-color: $gray-50;
}

.show-page-table-row {

}

tr:nth-child(even) {
  background: $gray-50;
}

.show-page-table-header {
  padding: 0.75rem 1.5rem;
  text-align: left;
  @include text-xs;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $gray-700;
  border-bottom: 1px solid $gray-300;
}

.show-page-table-body-section {
  background-color: $white;

}

.show-page-table-data-cell {
  padding: 1rem 1.5rem;
  white-space: nowrap;
  text-align: left;
  @include text-sm;
  font-weight: 500;
  color: $gray-900;
  border-bottom: 1px solid $gray-200;
}
















