.show-page-container {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 40px);
  width: 100vw;
  overflow-y: none;
}

.show-page-sidebar-wrapper {
  height: calc(100vh - 40px);
}

.show-page-content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding: 0rem 2rem 1rem;
  overflow-x: auto;
}

.show-page-header {
  @include text-2xl;
}

.show-page-section-border {
  margin: 1rem 0rem;
  border-top: 1px solid $gray-200;
}




// Filters Partial

.show-page-filters-container {
}

.show-page-filters-menu-container {
  display: flex;
}

.show-page-filters-buttons-container {
  display: flex;
  align-items: center;
    margin-left: auto;
}

.show-page-filters-tabs-container {
  border-bottom: 1px solid $gray-200;
}

.show-page-filters-tab-container {
  background-color: white;
}

.show-page-filters-tab-link {

}

.show-page-filters-tab-content-container {
  height: 100%;
  width: 100%;
}

.show-page-filters-tab-pane {
  padding: 1.5rem 1rem 0.5rem;
  overflow: scroll;
  height: 200;
}

.show-page-filters-sql-container {
  border-radius: 0.375rem;
  padding: 0.75rem 1rem 0.75rem;
  background-color: $gray-800;
  overflow: none;
}

.show-page-sql-query {
  @include text-sm;
  font-weight: 500;
  font-family: "Courier New";
  color: $gray-100;
  margin: 0;
  padding: 0;
}

.show-page-filter-pills-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0rem;
}

.show-page-filter-pill {
  display: infline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-color: transparent;
  @include text-sm;
  font-weight: 500;
  color: $white;
  background-color: $purple-600;
  border: 2px solid $purple-600;
  border-radius: 0.375rem;
  box-shadow: $shadow-sm;
  transition: $transition;

  &:hover {
    color: $white;
    background-color: $purple-700;
    border: 2px solid $purple-700;
  }
}


// Views Partial

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border: none;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: $white;
  color: $purple-700;
  border-bottom: 1px solid $purple-700;

  > .show-page-views-tab-icon {
    color: $purple-600;
  }

  &:hover {
    color: $purple-800;

    > .show-page-views-tab-icon {
      color: $purple-700;
    }
  }
}

.nav-item {

}

.show-page-views-container {
  padding: 0rem;
}

.show-page-views-tabs-border-container {
  // border-bottom: 1px solid $gray-200;
}
.show-page-views-tabs-container {
  border-radius: 0.375rem 0rem 0rem 0rem;
}

.show-page-views-tab-container {
  background-color: $white;
  // border-right: 2px solid $gray-200;
  // border-top: 2px solid $gray-200;
  // border-left: 2px solid $gray-200;
  border-radius: 0.375rem 0.375rem 0rem 0rem;
  border-bottom: 1px solid $gray-200;
  color: $gray-500;

  transition: $transition;

  &:hover {
    color: $gray-600;
    border-bottom: 1px solid $gray-300;
  }
}

.show-page-views-tab-link {
  color: $gray-500;
  transition: $transition;

  &:hover {

    transform: scale(1.025);
    color: $gray-600;

    .show-page-views-tab-icon {
      color: $gray-500;
    }
  }
}

.show-page-views-tab-icon {
  color: $gray-400;
  height: 1.5rem;
  width: 1.5rem;
  fill: none;
  stroke-width: 2;
  transition: $transition;
  margin-left: -0.25rem;
}

.show-page-views-tab-content-container {
  height: 100%;
  width: 100%;
}

.show-page-views-tab-pane {
  padding: 0rem 1rem;
  overflow: scroll;
  height: 600px;
}


// Table View

.show-page-table-wrapper {
  overflow-x: auto;
}

.show-page-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  border-radius: 0.375rem;
  padding-top: 0.5rem;
}

.show-page-table {
  display: table;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $gray-200;
  border-radius: 0.375rem;
}

.show-page-table-header-section {
  background-color: $gray-50;
}

.show-page-table-row {

}

tr:nth-child(even) {
  background: $gray-50;
}

.show-page-table-header {
  padding: 0.75rem 1.5rem;
  text-align: left;
  @include text-xs;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $gray-700;
  border-bottom: 1px solid $gray-300;
}

.show-page-table-body-section {
  background-color: $white;

}

.show-page-table-data-cell {
  padding: 1rem 1.5rem;
  white-space: nowrap;
  text-align: left;
  @include text-sm;
  font-weight: 500;
  color: $gray-900;
  border-bottom: 1px solid $gray-200;
}

.query_fields {
  display: flex;
  flex-wrap: wrap;

  .form-check {
    width: 225px;
  }
}



// Map view

.country {
  // fill: $gray-900;
  stroke: $gray-200;
  stroke-width: 0.1px;
  transition: $transition;

  &:hover {
    fill: $gray-300;
  }
}

#map {
  color: $gray-300;
}








