<div class="show-page-views-container">
  <% if query.count == 0 %>
    <h2><%= "Sorry, no results could be found for this query." %></h2>
  <% else %>
    <ul class="nav nav-tabs show-page-views-tabs-container" id="myTab" role="tablist">
      <li class="nav-item show-page-views-tab-container">
        <a class="nav-link active show-page-views-tab-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Table</a>
      </li>
      <li class="nav-item show-page-views-tab-container">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Map</a>
      </li>
    </ul>
    <div class="tab-content show-page-views-tab-content-container" id="myTabContent">
      <div class="tab-pane fade show active show-page-views-tab-pane" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="show-page-table-wrapper">
          <div class="show-page-table-container">
            <table class='show-page-table'>
              <thead class='show-page-table-header-section'>
                <tr class='show-page-table-row'>
                  <% query[0].keys.each do |k| %>
                    <th class='show-page-table-header'><%= k.gsub("_", " ").capitalize %></th>
                  <% end %>
                </tr>
              </thead>

              <tbody class='show-page-table-body-section'>
                <% query.each do |order| %>
                <tr class='show-page-table-row'>
                  <% order.keys.each do |k| %>
                    <td class='show-page-table-data-cell'><%= order[k] %></td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <div class="tab-pane fade show-page-views-tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">This exciting new feature is coming soon! </div>
    </div>
  <% end %>
</div>

