<main class="home-page-container">



  <div class="home-page-header-section-container">



    <div class="home-page-header-section-content-container"></div>
    <div class="home-page-header-section-image-container"></div>




  </div>




  <div class="home-page-demo-section-container">
    <div class="home-page-demo-section-demo"></div>
  </div>
  <div class="home-page-feature-section-container"></div>
  <div class="home-page-feature-section-container"></div>
  <div class="home-page-testimonial-section-container"></div>
  <div class="home-page-footer-section-container"></div>
</main>
