.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo-icon {
  margin-right: 0.5em;
}


.navbar-wordmark {
  font-weight: 600px;
  margin-top: auto;
  margin-bottom: auto;
  @include text-lg;
  font-size: 1.75rem;
  color: $gray-900;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  border-radius: 0.375rem;
  padding: 0rem;
  overflow: hidden;
}

.dropdown-item {
  color: $gray-900;
  padding: 0.5rem 1.25rem;
  transition: $transition;

  &:hover {
    transform: scale(1.05);
    background-color: $purple-100;
  }
}
