.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 16rem;
  flex: 1 1 0%;
  background-color: $gray-800;
  height: calc(100vh - 40px);
}

.sidebar-content-container {
  display:flex;
  flex-direction: column;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  overflow-y: auto;
}

.sidebar-wordmark-container {
  display: flex;
  align-items: center;
  height: 4rem;
  flex-shrink: 0;
  padding: 0rem 1rem;
  background-color: $gray-900;
}

.sidebar-wordmark-image {
  height: 2rem;
  width: auto;
}

.sidebar-files-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  flex: 1 1 0%;
  overflow-y: auto;
  padding: 1rem 0.5rem;
  background-color: $gray-800;
}

.sidebar-file-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  @include text-sm;
  font-weight: 500;
  border-radius: 0.375rem;
  color: $gray-300;

  &:hover {
    color: $white;
    background-color: $gray-700;
  }
}

.sidebar-file-icon-container {

}

.sidebar-file-icon {
  color: $gray-400;
  margin-right: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;

  &:hover {
    color: $red;
  }
}

.sidebar-file-name {

}

.sidebar-file-name-text {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: $transition;
  cursor: pointer;
  font-weight: 500;
  color: $gray-300;
  transition: $transition;

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
  }
}

.sidebar-file-dropdown-toggle-container {
  margin-left: auto;
}

.sidebar-dropdown-toggle-icon {
  color: $gray-400;
  margin-right: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;

  &:hover {
    color: $red;
  }
}

.sidebar-queries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  flex: 1 1 0%;
  overflow-y: auto;
  padding: 1rem 0rem 1rem 0.5rem;
  width: 100%;
}

.sidebar-query-container {

}

.sidebar-query-icon-container {

}

.sidebar-query-icon {
  color: $gray-400;
  margin-right: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;

  &:hover {
    color: $red;
  }
}

.sidebar-query-name {

}

.sidebar-query-name-text {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: $transition;
  cursor: pointer;
  font-weight: 500;
  color: $gray-400;
  transition: $transition;

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
  }
}

.sidebar-file-container-current {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  @include text-sm;
  font-weight: 500;
  border-radius: 0.375rem;
  color: $white;
  background-color: $gray-900;

  &:hover {
    color: $white;
    background-color: $gray-700;
  }
}

.sidebar-file-item {
  display: flex;
  align-items: center;
  width: 100%;
  // padding: 0.5rem 0rem;
  border-radius: 0.375rem;
  color: $white;

  &:hover {
    color: $white;
    background-color: $gray-700;
  }
}

.sidebar-query-item {
  display: flex;
  align-items: center;
  width: 100%;
  // padding: 0.5rem 0rem;
  border-radius: 0.375rem;
  color: $white;

  &:hover {
    color: $white;
    background-color: $gray-700;
  }
}

.sidebar-query-edit-icon-container {
  margin-left: auto;
}

.sidebar-query-edit-icon {
  color: $gray-400;
  margin-right: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;

  &:hover {
    color: $red;
  }
}

.sidebar-queries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  flex: 1 1 0%;
  overflow-y: auto;
  padding: 1rem 0rem 1rem 0.5rem;
  width: 100%;
}

.hidden {
display: none;
  overflow: hidden;
}
