.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 16rem;
  flex: 1 1 0%;
  background-color: $white;
  border: 1px solid $gray-200;
  border-top: none;
  height: calc(100vh - 40px);
}

.sidebar-content-container {
  display:flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 0rem;
  padding-bottom: 1rem;
  overflow-y: auto;
}

.sidebar-wordmark-container {
  display: flex;
  align-items: center;
  height: 4rem;
  flex-shrink: 0;
  padding: 0rem 1rem;
  background-color: $gray-200;
}

.sidebar-wordmark-image {
  height: 2rem;
  width: auto;
}

.sidebar-files-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  flex: 1 1 0%;
  overflow-y: auto;
  padding: 1rem 0.5rem;
  background-color: $white;
}

.sidebar-file-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  @include text-sm;
  font-weight: 500;
  border-radius: 0.375rem;
  color: $gray-500;
  transition: $transition;

  &:hover {
    color: $gray-600;
    background-color: $gray-50;
    transform: scale(1.025);

    .sidebar-file-icon {
      color: $gray-500;
    }

    .sidebar-dropdown-toggle-icon {
      color: $gray-500;
    }
  }
}


.sidebar-file-item {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0.375rem;
  transition: $transition;
}

.sidebar-file-icon-container {

}

.sidebar-file-icon {
  color: $gray-400;
  margin-right: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  fill: none;
  stroke-width: 2;
  transition: $transition;
}

.sidebar-file-name {

}

.sidebar-file-name-text {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  transition: $transition;

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.sidebar-file-dropdown-toggle-container {
  margin-left: auto;
}

.sidebar-dropdown-toggle-icon {
  color: $gray-400;
  margin-right: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  fill: none;
  stroke-width: 2;
  transition: $transition;
}

.sidebar-file-container-current {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  @include text-sm;
  font-weight: 500;
  border-radius: 0.375rem;
  color: $gray-700;
  background-color: $gray-100;
  transition: $transition;

  .sidebar-file-icon {
    color: $gray-500;
  }

  .sidebar-dropdown-toggle-icon {
    color: $gray-500;
  }

  >.sidebar-file-item {
    &:hover {
      transform: scale(1.02);
    }
  }

  &:hover {

    .sidebar-file-icon {
      color: $gray-600;
    }

  .sidebar-dropdown-toggle-icon {
      color: $gray-600;
    }
  }
}

.sidebar-queries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  flex: 1 1 0%;
  overflow-y: auto;
  padding-top: 0.5rem;
  padding-bottom: 0rem;
  width: 100%;
}

.sidebar-query-container {

}


.sidebar-query-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  border-radius: 0.375rem;
  transition: $transition;

  &:hover {
    color: $gray-700;
    background-color: $gray-200;
    transform: scale(1.02);

    .sidebar-query-icon {
      color: $gray-600;
    }

  .sidebar-query-edit-icon {
      color: $gray-600;
    }
  }
}

.sidebar-query-icon-container {

}

.sidebar-query-icon {
  color: $gray-500;
  margin-right: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  fill: none;
  stroke-width: 2;
  transition: $transition;

  &:hover {
    color: $red;
  }
}

.sidebar-query-name {

}

.sidebar-query-name-text {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: $transition;
  cursor: pointer;
  font-weight: 500;
  transition: $transition;

  &:hover,
  &:focus {
    color: $gray-700;
    text-decoration: none;
  }
}


.sidebar-query-edit-icon-container {
  margin-left: auto;
}

.sidebar-query-edit-icon {
  color: $gray-500;
  margin-right: 0.75rem;
  height: 1.4rem;
  width: 1.4rem;
  fill: none;
  stroke-width: 2;
  transition: $transition;

}

.hidden {
  display: none;
  overflow: hidden;
}


.sidebar-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
