<% if @authorized %>
  <% unless @queries.empty? %>
    <% @queries.each_with_index do |query, index| %>
      <h2><%= index + 1 %>. <%=  query.query_name %> <%= link_to "view", csv_file_query_path(id: query.id) %> </h2>

    <% end %>
  <% else %>
    <div>You have no queries</div>
  <% end %>
<% else %>
  <div>You dont have access to this file</div>
<% end %>