<% if @authorized %>
  <% unless @queries.empty? %>
    <% @queries.each do |query| %>
      <p>Name: <%= query.query_name %> <%= link_to "view", csv_file_query_path(id: query.id) %> </p>

    <% end %>
  <% else %>
    <div>You have no queries</div>
  <% end %>
<% else %>
  <div>You dont have access to this file</div>
<% end %>