<div class="form-container">
  <% if @csv_file %>
    <%= simple_form_for @csv_file do |f| %>
      <%= f.file_field :csv_doc %>
      <%= f.submit label: "upload!", class: "btn btn-primary" %>
    <% end %>
  <% end %>

</div>