<h1><%= @csv_file.filename %></h1>
<%= link_to "New Query", new_csv_file_query_path(@csv_file), class: "btn btn-primary" %>
<% @csv_file.orders.each do |order|%>
  <p><%= order.order_id %> <%= order.total %></p>
<% end %>